<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ridvan.doctorandpatientfirebase">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminActivity" />
        <activity android:name=".Doctor.DoctorActivity" />
        <activity android:name=".DoctorAddActivity" />
        <activity android:name=".Patient.PatientActivity" />
        <activity android:name=".PatientAddActivity" />
        <activity android:name=".Patient.PatientProfileActivity" />
        <activity android:name=".HospitalAddActivity" />
        <activity android:name=".DistrictAddActivity" />
        <activity android:name=".AllHospitalActivity" />
        <activity android:name=".Patient.PatientLineChartActivity" />
        <activity android:name=".AllDoctorActivity" />
        <activity android:name=".AllPatientActivity" />
        <activity android:name=".Doctor.DoctorProfileActivity" />
        <activity android:name=".EditDoctorActivity" />
        <activity android:name=".EditPatientActivity" />
        <activity android:name=".AssignmentDoctorActivity" />
        <activity android:name=".AssignmentResultActivity" />
        <activity android:name=".AssignmentResultPatientActivity" />
        <activity
            android:name=".Patient.MyDataActivity"
            android:label="@string/title_activity_my_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Patient.PatientDataActivity"></activity>
    </application>

</manifest>